/WeatherApplication/nbproject/private/
/WeatherApplication/build/
/WeatherApplication/dist/
/SalesmanApp/nbproject/private/
/CarShowroom/nbproject/private/
/CarShowroom/build/
/DiskScheduling/nbproject/private/
/CarShowroom/dist/
/FactoryPattern/nbproject/private/
/FactoryPattern/build/
/FactoryPattern/dist/
/StatePattern/nbproject/private/
/StatePattern/build/